@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header and Navbar */
.top-header-list,
.desktop-nav {
  display: none;
}

.headline-bg {
  background-image: url(../Images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.union-icon {
  cursor: pointer;
  padding-top: 30px;
  padding-left: 30px;
}

.close-icon {
  position: fixed;
  top: 62px;
  right: 38px;
  z-index: 100;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3c3f46;
  z-index: 1;
  opacity: 0.9;
  padding-top: 106px;
}

.mobile-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.mobile-list a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding-left: 28px;
  padding-bottom: 15px;
  color: #fff;
  gap: 40px;
}

.mobile-list a:hover {
  color: #ec5242;
}

/* Headline Section */
.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 85%;
  margin: 0 auto;
  padding: 75px 0 25px 0;
}

.headline-title {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: left;
  padding: 25px 25px 0 25px;
}

.to-viewers {
  font-size: 25px;
  color: #ec5242;
}

.frontend {
  line-height: 55px;
  color: #ec5242;
  font-size: 50px;
  font-weight: 700;
  width: 90%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 45px;
}

.short-info {
  margin-top: 1em;
  padding: 1em 0.5em;
  line-height: 150%;
  font-size: 13px;
  height: auto;
  text-align: justify;
  border: 4px solid #fff;
  background-color: #f1e9e9;
}

.my-info {
  width: calc(100% - 2.5em);
  margin-bottom: 50px;
}

.date {
  padding: 20px 0 0;
  font-size: 25px;
  font-weight: 400;
  color: #f8eeee;
  margin-bottom: 0.5em;
}

.address {
  font-weight: 400;
  font-size: 18px;
  color: #f8eeee;
}

/* Main section (Cards) */

.our-services {
  background-image: url(./Images/main.png);
  background-repeat: repeat;
  background-color: #272a31;
}

.main {
  justify-content: center;
  align-items: center;
}

.service-heading {
  color: #fff;
  padding-top: 44px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 8px;
}

.line {
  width: 20%;
  height: 1px;
  background-color: #ec5242;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-inline: auto;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s ease-in;
  align-items: center;
  padding: 16px 16px;
  margin: 10px 10px;
  display: flex;
}

.card:hover {
  transform: scale(1.05);
  border: 1px solid #fff;
}

.card-img {
  width: 60px;
  height: 60px;
  padding: 4px 4px;
}

.card-title {
  justify-content: space-between;
  font-weight: 600;
  color: #ec5242;
  font-size: 14px;
  text-align: center;
  flex: 2;
}

.card-content {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  flex: 3;
}

.card-btn {
  padding-inline: 20%;
}

.mob-btn {
  font-size: 15px;
  font-weight: 400;
  padding: 22px 50px;
  border: none;
  background-color: #ec5242;
  color: #fff;
  margin: 30px;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.mob-btn:hover {
  background-color: #9c4137;
}

.mob-btn:active {
  background-color: #f04936;
}

/* OUR TEAM Section */
.team-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-title {
  margin-top: 1em;
  color: #272a31;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  border-bottom-color: #ec5242;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.team-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-main {
  display: flex;
  padding: 10px;
}

.member-img {
  width: 30%;
  background-image: url('../img/speaker_background.png');
  background-position: top left;
  background-size: 60px;
  background-repeat: no-repeat;
}

.individual-img {
  width: 80%;
  height: auto;
  padding-top: 15px;
  padding-left: 15px;
}

.member-info {
  width: 70%;
  padding-left: 5px;
}

.member-name {
  font-size: 16px;
  font-weight: 700;
  color: #272a31;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.member-title {
  color: #ec5242;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
}

.member-intro {
  font-weight: 100;
  padding-top: 4px;
  color: #272a31;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
}

/* Sponsors Section */

.sponsors {
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px 0 30px 0;
}

.s-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding: 3px;
  color: #fff;
}

.sponsors-logos {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 90%;
}

.s-logo {
  filter: grayscale(95%);
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.extend-line {
  width: 50%;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  margin-bottom: 2em;
}

.footer-info {
  font-weight: 500;
}

.desk-navbar,
.top-nav-container,
.logo-link,
.desk-btn {
  display: none;
}

/* About Page */
.about-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 85%;
  margin: 0 auto;
  padding: 75px 0 25px 0;
}

.about-heading {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 25px 25px 0 25px;
}

.about-title {
  font-size: 25px;
  color: #ec5242;
}

.main-heading {
  line-height: 55px;
  font-size: 50px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 7px;
  text-align: left;
  color: #ec5242;
}

.about-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
}

.about-info {
  height: auto;
  font-size: 13px;
  line-height: 150%;
  padding: 1em 0.5em;
  text-align: justify;
  margin: 17px 0.75em 0;
  width: calc(100% - 2.5em);
  font-family: 'Lato', sans-serif;
  border: 4px solid rgb(247, 247, 248);
  background-color: rgb(255, 255, 255);
}

.reach-us {
  margin-top: 0.5em;
  text-decoration: underline;
  text-align: center;
}

.award {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #e4e4e4;
  padding: 51px 25px 0 25px;
}

.our-award {
  text-align: center;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

.award-txt {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.award-logo {
  width: 75%;
  height: 20%;
  margin: 55px;
  border: 1px solid #e4e4e4;
}

.past-awards {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 20px;
  gap: 40px;
}

.past-awards h2 {
  text-align: center;
}

.past-awards p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  max-width: 70%;
  margin-top: 10px;
}

.award-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  gap: 15px;
  width: 100%;
}

.past-info {
  width: 70%;
  margin: auto;
}

.one {
  height: 200px;
  background-image: url(../Images/cc-conf-1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two {
  height: 200px;
  background-image: url(../Images/cc-conf-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one:hover,
.two:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.7s ease;
}

/* Desktop Version Start */

@media (min-width: 768px) {
  .headline-bg {
    background-repeat: no-repeat;
    background-image: url(../Images/banner.jpg);
    background-size: cover;
    background-position: center;
  }

  .top-header-list {
    display: flex;
    background: gray;
    justify-content: flex-end;
    padding: 5px;
    gap: 1em;
    cursor: pointer;
  }

  .top-header-list a {
    color: #fff;
  }

  .last {
    margin-right: 5em;
  }

  .list-btn {
    border: 5px solid #ec5242;
    padding: 0.5em;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    min-height: 4em;
  }

  .page-logo {
    width: 30vh;
  }

  .desktop-nav-list {
    display: flex;
    gap: 2em;
  }

  .desktop-nav-list li a {
    color: #272a31;
  }

  .desktop-nav-list li a:hover {
    color: #ec5242;
  }

  #hamburger-icon {
    display: none;
  }

  .mob-btn {
    display: none;
  }

  /* Headline section */

  .frontend {
    width: 60%;
    font-weight: 900;
  }

  .short-info {
    width: 50%;
    gap: 10px;
    font-weight: 400;
    color: #272a31;
    background: #f1eded;
  }

  .date,
  .address {
    font-weight: 400;
    color: #fff;
  }

  /* Main Section (Cards) */

  .service-heading {
    font-weight: 700;
    font-size: 30px;
  }

  .line {
    width: 6%;
    height: 1px;
    background-color: #ec5242;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .my-cards {
    display: flex;
    gap: 3px;
    padding: 20px 105px;
  }

  .card {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .card-title {
    font-size: 20px;
    margin-bottom: 2px;
    flex: 2;
  }

  .card-content {
    text-align: center;
    line-height: 18px;
    flex: 3;
  }

  .card-btn {
    padding-inline: 40%;
  }

  .desk-btn {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 50px 0;
    display: block;
    color: #fff;
  }

  .desk-btn:hover {
    color: #ec5242;
  }

  /* Our Team */
  .team-main {
    width: 45%;
    height: auto;
  }

  .team-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* sponsors */
  .extend-line {
    width: 40%;
  }

  .sponsors-logos {
    justify-content: space-between;
    gap: 25px;
    width: 50%;
  }

  .s-logo {
    width: 50px;
  }

  /* About Page */
  .about-heading {
    text-align: center;
    margin-inline: 10%;
  }

  .main-heading {
    text-align: center;
  }

  .about-intro {
    padding-inline: 20%;
  }

  .award {
    max-width: 55%;
    margin: 0 auto;
    border: none;
  }

  .award-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 15px 175px;
  }
}
